/*.log
/goto*
/test*
*.swn
*.swo
*.o
log
test_*.zip
*.gcno
*.gcda
dist
dedupv1*.tar.gz
*.bak
.DS_Store
.cccc
dedupv1_common_test_profile.txt
.sconf_temp
.sconsign.dblite
config.log
*.swp
*.pyc
/build
/thirdparty/duma_2_5_15.tar.gz
/thirdparty/libmicrohttpd-0.9.4/
/thirdparty/py-tcdb-0.3/
/thirdparty/scst-2.0.0.x/
/thirdparty/valgrind-header/
/thirdparty/kyotocabinet-1.2.36/
/thirdparty/kyotocabinet-1.2.55/
/thirdparty/icu/
thirdparty/dmeister-tokyocabinet-5ad8b9b
